<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.bruce.android.knowledges"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="14"/>
    <application android:label="@string/app_name" android:icon="@drawable/ic_launcher">
        <activity android:name="MyActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".Activities.TestShaderActivity"></activity>
        <activity android:name=".Activities.CanvasActivity"></activity>
        <activity android:name=".Activities.TestCustomViewGroupActivity"></activity>
        <activity android:name=".Activities.TestFlowLayoutActivity"></activity>
        <activity android:name=".Activities.TextViewLinkActivity"></activity>
        <activity android:name=".Activities.TestRotationTextViewActivity"></activity>
        <activity android:name=".Activities.TestTransformMatrixActivity"></activity>
        <activity android:name=".Activities.TestSingleTouchActivity"></activity>
        <activity android:name=".Activities.TestCosAnimationActivity"></activity>
        <activity android:name=".costomviews.scanAnimation.ParabolaAnimationActivity"></activity>
        <activity android:name=".costomviews.scanAnimation.ScanAnimationActivity"></activity>
        <activity android:name=".costomviews.TweenAnimation.TestTweenAnimationActivity"></activity>
    </application>
</manifest>
